LOG_LEVEL=INFO

AMI_HOST=127.0.0.1
AMI_PORT=5038
AMI_USERNAME=admin
AMI_PASSWORD=password


VICIDIAL_DB_HOST=127.0.0.1
VICIDIAL_DB_PORT=3306
VICIDIAL_DB_NAME=asterisk
VICIDIAL_DB_USER=cron
VICIDIAL_DB_PASSWORD=1234


API_BASE_URL=http://localhost:3000/api
API_TOKEN=test