LOG_LEVEL=INFO

AMI_HOST=127.0.0.1
AMI_PORT=5038
AMI_USERNAME=admin
AMI_PASSWORD=password

VICIDIAL_DB_HOST=127.0.0.1
VICIDIAL_DB_PORT=3306
VICIDIAL_DB_NAME=asterisk
VICIDIAL_DB_USER=cron
VICIDIAL_DB_PASSWORD=1234

VICIDIAL_API_ENDPOINT=https://127.0.0.1/agc/api.php
VICIDIAL_API_USER=9999
VICIDIAL_API_PASS=1234

ARI_HOST=127.0.0.1:8088
ARI_USER=user
ARI_PASS=pass

STT_APP_NAME=stt_service
STT_SERVER_IP=127.0.0.1
STT_API_ENDPOINT=http://127.0.0.1:5000

VENDOR_WEBHOOK_URL=http://localhost:3000/api
CRM_WEBHOOK_URL=http://localhost:3000/api