annotated-types==0.7.0
asterisk-ami==0.1.7
certifi==2026.6.17
charset-normalizer==3.4.9
idna==3.18
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
PyMySQL==1.2.0
python-dotenv==1.2.2
requests==2.34.2
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
