[Unit]
Description=Vicidial AMI Listener
After=network.target mariadb.service

[Service]
Type=simple

User=root
Group=root

WorkingDirectory=/opt/vicidial-listener

Environment=PYTHONUNBUFFERED=1

ExecStart=/opt/vicidial-listener/venv/bin/python /opt/vicidial-listener/app.py

Restart=always
RestartSec=5

StandardOutput=append:/opt/vicidial-listener/logs/listener.log
StandardError=append:/opt/vicidial-listener/logs/listener.log

[Install]
WantedBy=multi-user.target