[Unit]
Description=Vicidial AMI Listener
After=network.target mariadb.service

[Service]
Type=simple

User=root
Group=root

WorkingDirectory=/opt/vicidial_listener

Environment=PYTHONUNBUFFERED=1

ExecStart=/opt/vicidial_listener/venv/bin/python /opt/vicidial_listener/app.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target